.home{
    text-align: center;
    margin-top: 3rem;
}

.products{
    margin: 30px 30px;
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.product__single{
    height: 380px;
    width: 350px;
    padding: 30px;
    /* border: 1px solid black; */
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.product__single > img{
    height: 65%;
    width: 80%;
    object-fit:cover;
    border-radius: 5px;
}

.pagination{
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.pagination > span{
    border-radius: 50%;
    margin: 5px;
    padding: 25px;
    border: 1.5px solid gray;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bolder;
    height: 0.8rem;
    display: flex;
    align-items: center;
}

.pagination__selected{
    background-color: bisque;
}

.pagination__disable{
    opacity: 0;
    cursor: auto;
}

.breadcrumbs{
    font-size: 1.5rem;
    font-family:monospace;
    text-transform: capitalize;
    color: black;
}

.breadcrumbs  a{
    text-decoration: none;
}

.breadcrumbs span {
    color: red;
}



